.App {
  text-align: center;
}

.event {
  /*form of event*/
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}